@{
    ViewData["Title"] = "Home Page";
}

<!-- Start slides -->
<div id="slides" class="cover-slides">
	<ul class="slides-container">
		<li class="text-left">
			<img src="images/slider-01.jpg" alt="">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1 class="m-b-20"><strong>Chào Mừng Bạn Đến Với<br> Nhà Hàng Live Dinner</strong></h1>
						<p class="m-b-40">
							Trải Nghiệm Live Dinner Hấp Dẫn: <br />Âm Nhạc Tươi Vui và Hương Vị Tinh Tế!
						</p>
						<p><a class="btn btn-lg btn-circle btn-outline-new-white" href="/Reservation">Đặt Bàn</a></p>
					</div>
				</div>
			</div>
		</li>
		<li class="text-left">
			<img src="images/slider-02.jpg" alt="">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1 class="m-b-20"><strong>Chào Mừng Bạn Đến Với<br> Nhà Hàng Live Dinner</strong></h1>
						<p class="m-b-40">
							Dạ Tiệc Độc Đáo Tại Nhà Hàng: <br />Đêm Live Dinner, Hòa Mình Trong Không Khí Sống Động.
						</p>
						<p><a class="btn btn-lg btn-circle btn-outline-new-white" href="/Reservation">Đặt Bàn</a></p>
					</div>
				</div>
			</div>
		</li>
		<li class="text-left">
			<img src="images/slider-03.jpg" alt="">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1 class="m-b-20"><strong>Chào Mừng Bạn Đến Với<br> Nhà Hàng Live Dinner</strong></h1>
						<p class="m-b-40">
							Với không gian ấm cúng và đội ngũ đầu bếp tài năng, <br />chúng tôi mang đến trải nghiệm ẩm thực hoàn hảo cho bữa tối đặc sắc của bạn.
						</p>
						<p><a class="btn btn-lg btn-circle btn-outline-new-white" href="/Reservation">Đặt Bàn</a></p>
					</div>
				</div>
			</div>
		</li>
	</ul>
	<div class="slides-navigation">
		<a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
		<a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
	</div>
</div>
<!-- End slides -->
<!-- Start About -->
<div class="about-section-box">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12 text-center">
				<div class="inner-column">
					<h1 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Chào Mừng Tới <span>Nhà Hàng Live Dinner</span></h1>
					<h4>Little Story</h4>
					<p>Khám phá sự kết hợp tuyệt vời giữa ẩm thực và giải trí tại nhà hàng Live Dinner của chúng tôi. Đêm dạ tiệc tại đây không chỉ là bữa ăn ngon miệng mà còn là cuộc phiêu lưu âm nhạc độc đáo. Hòa mình vào không khí tươi mới với những giai điệu sống động, cùng thưởng thức các món ăn đặc sắc từ đầu bếp tài năng. </p>
					<p> Chúng tôi cam kết tạo ra một trải nghiệm ẩm thực đầy ấn tượng và đáng nhớ cho mọi khách hàng.</p>
					<a class="btn btn-lg btn-circle btn-outline-new-white" href="/Reservation">Đặt Bàn</a>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12">
				<img src="images/about-img.jpg" alt="" class="img-fluid">
			</div>
		</div>
	</div>
</div>
<!-- End About -->
<!-- Start QT -->
<div class="qt-box qt-background">
	<div class="container">
		<div class="row">
			<div class="col-md-8 ml-auto mr-auto text-center">
				<p class="lead ">
					" Không có nguyên liệu tồi, chỉ có cách chúng ta sử dụng nó. "
				</p>
				<span class="lead">Christian Bauman</span>
			</div>
		</div>
	</div>
</div>
<!-- End QT -->
<!-- Start Menu -->
@await Component.InvokeAsync("Category")
<!-- End Menu -->
<!-- Start Gallery -->
@await Component.InvokeAsync("GalleryView")
<!-- End Gallery -->
<!-- Start Contact info -->
<div class="contact-imfo-box">
	<div class="container">
		<div class="row">
			<div class="col-md-4 arrow-right">
				<i class="fa fa-volume-control-phone"></i>
				<div class="overflow-hidden">
					<h4>Số điện thoại</h4>
					<p class="lead">
						+84 36-7332-235
					</p>
				</div>
			</div>
			<div class="col-md-4 arrow-right">
				<i class="fa fa-envelope"></i>
				<div class="overflow-hidden">
					<h4>Email</h4>
					<p class="lead">
						hau@gmail.com
					</p>
				</div>
			</div>
			<div class="col-md-4">
				<i class="fa fa-map-marker"></i>
				<div class="overflow-hidden">
					<h4>Địa chỉ</h4>
					<p class="lead">
						10, đường Chu Huy Mân, TP Vinh
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Contact info -->
